/* manrope-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/manrope-v15-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/manrope-v15-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --main-bg: hsl(0, 0%, 100%);
  --dark-text: hsl(217, 19%, 35%);
  --light-text: hsl(214, 17%, 51%);
  --share-toast-bg: hsl(217, 19%, 35%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --share-text-color: hsl(212, 23%, 69%);
  --share-button-bg: hsl(210, 46%, 95%);
  --box-shadow: hsla(210, 29%, 83%, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.12%;
  background: var(--light-grayish-blue);
  color: var(--light-text);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article__wrapper {
  width: calc(100% - 3rem);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background-color: var(--main-bg);
  border-radius: 10px;
  margin-block-end: 10px;
  box-shadow: 0 40px 40px -10px var(--box-shadow);
}

.article__image {
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.article__content-wrapper {
  display: grid;
  gap: 48px;
  padding-inline: 30px;
}

.article__text {
  display: grid;
  gap: 24px;
}

h1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.25px;
  color: var(--dark-text);
}

.article__button-group-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  margin-bottom: 18px;
}

.article__profile-wrapper {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.article__profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.article__profile-name {
  font-weight: 700;
}

p > span {
  font-weight: 500;
  color: var(--share-text-color);
}

.article__share-button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--share-button-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.article__share-button:active,
.article__share-button:focus {
  background-color: var(--share-toast-bg);
}

.article__share-button:active .article__icon path,
.article__share-button:focus .article__icon path {
  fill: var(--share-button-bg);
}

/* mobile share wrapper start */

.article__share-mobile {
  width: 100%;
  padding: 16px 32px;
  display: flex;
  gap: 64px;
  justify-content: center;
  align-items: center;
  background-color: var(--share-toast-bg);
  border-radius: 0 0 10px 10px;
}

.article__share-text {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 25%;
  color: hsl(212, 23%, 69%);
  text-transform: uppercase;
}

.article__icons-wrapper {
  display: flex;
  gap: 16px;
}

.active {
  background-color: hsl(214, 17%, 51%);
}

.display-hidden {
  display: none;
}

.display-none {
  display: none;
}

/* mobile share wrapper end */

@media screen and (min-width: 768px) {
  .article__wrapper {
    width: 608px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding-inline-end: 36px;
  }

  .article__image {
    width: 229px;
    height: 346px;
    border-radius: 10px 0 0 10px;
  }

  .article__content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    margin-bottom: 0;
    padding-inline: 0;
  }

  .article__button-group-wrapper {
    position: relative;
    gap: 104px;
  }

  .article__share-wrapper {
    width: 248px;
    height: 55px;
    background-color: var(--share-toast-bg);
    position: absolute;
    left: 170px;
    top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .display-none {
    display: none;
  }

  .display-hidden {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .article__wrapper {
    width: 730px;
    gap: 40px;
    padding-inline-end: 40px;
  }

  .article__image {
    width: 285px;
    height: 280px;
  }

  .article__button-group-wrapper {
    position: relative;
    gap: 160px;
  }

  .article__share-wrapper {
    left: 225px;
  }
}
